<mat-grid-list cols="24" rowHeight="80px">
  <mat-grid-tile style="border: 1px solid;" [colspan]="5" [rowspan]="10"> menu lateral </mat-grid-tile>
  <mat-grid-tile style="border: 1px solid;" [colspan]="19" [rowspan]="2"> cabecera </mat-grid-tile>
  <mat-grid-tile style="border: 1px solid;" [colspan]="19" [rowspan]="8"> contenido </mat-grid-tile>
</mat-grid-list>
