<mat-grid-list cols="24" rowHeight="45px">
  <mat-grid-tile class="foto" style="border-right: 2px solid; border-bottom: 2px solid;" [colspan]="5" [rowspan]="6"> foto </mat-grid-tile>
  <mat-grid-tile style="border-bottom: 2px solid;" [colspan]="19" [rowspan]="4"> cabecera </mat-grid-tile>
  <mat-grid-tile [colspan]="19" [rowspan]="20"> contenido </mat-grid-tile>
  <mat-grid-tile style="border-right: 2px solid;" [colspan]="5" [rowspan]="18"> menu </mat-grid-tile>
</mat-grid-list>
