<div class="containerr" [class.is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
 

  <mat-sidenav-container class="sidenav-container"
                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" position="end">
      <mat-nav-list class="sidenav-list">
        <a mat-list-item routerLink=""> {{constants.BEGINNING}} </a>
        <div *ngIf="authService.getToken()">
          <a mat-list-item (click)="authService.logout()"> {{constants.LOG_OUT}} </a>
        </div>
      </mat-nav-list>
      
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <div class="col">
          <button type="button" class="btn btn-light float-right ml-2" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div *ngIf="!authService.getToken()">
            <button type="button" class="btn btn-light float-right" data-toggle="modal" data-target="#login">
              <mat-icon>account_box</mat-icon> {{constants.LOG_IN}}
            </button>
          </div>
          <div *ngIf="authService.getToken()">
            <button type="button" class="btn btn-light float-right" (click)="openNewAlbum()">
              <mat-icon>photo_album</mat-icon> {{constants.NEW_ALBUM}}
            </button>
          </div>
        </div>
      </mat-toolbar>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>

<!-- Modal LOGIN-->
<app-login></app-login>
