@import '/src/themes/generic.scss';

.containerr {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
  flex: 1 0 auto;
}

.sidenav {
  border-left: 2px solid $border-color;
  background-color: rgb(235, 235, 235);
}

.sidenav-list {
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 2px solid $border-color;
}
