<!-- Modal CHECKIN-->
<div class="modal fade" id="checkin" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="checkin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="checkinTitle">
          <div *ngIf="!signupOk">
            {{this.constants.CHECK_IN}}
          </div>

          <div *ngIf="signupOk">
            {{this.constants.ACTIVATE_USER}}
          </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="!signupOk">
        <div class="modal-body">
          <form [formGroup]="formSignup">
            <div class="form-group">
              <label for="email"> {{this.constants.EMAIL}} </label>
              <input type="email" class="form-control" id="email" name="email"  formControlName="email">

              <ng-container *ngIf="(formSignup.controls['email'].dirty || formSignup.controls['email'].touched)">
                <ng-container *ngIf="!formSignup.controls['email'].valid">
                  <div class="row col-8">
                    <label class="text-danger"> {{this.constants.REQUIRED}} </label>
                  </div>
                </ng-container>
              </ng-container>

              <label for="username"> {{this.constants.NAME_USER}} </label>
              <input type="text" class="form-control" id="username" name="username" formControlName="username">

              <ng-container *ngIf="(formSignup.controls['username'].dirty || formSignup.controls['username'].touched)">
                <ng-container *ngIf="!formSignup.controls['username'].valid">
                  <div class="row col-8">
                    <label class="text-danger"> {{this.constants.REQUIRED}} </label>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <hr>
            <div class="form-group">
              <label for="pass"> {{this.constants.PASS}} </label>
              <input type="password" class="form-control" id="pass" name="pass" formControlName="password">

              <ng-container *ngIf="(formSignup.controls['password'].dirty || formSignup.controls['password'].touched)">
                <ng-container *ngIf="!formSignup.controls['password'].valid">
                  <div class="row col-8">
                    <label class="text-danger"> {{this.constants.REQUIRED}} </label>
                  </div>
                </ng-container>
              </ng-container>

              <label for="pass2"> {{this.constants.CONFIRM_PASS}} </label>
              <input type="password" class="form-control" id="pass2" name="pass2" formControlName="password2">

              <ng-container *ngIf="(formSignup.controls['password2'].dirty || formSignup.controls['password2'].touched)">
                <ng-container *ngIf="!formSignup.controls['password2'].valid">
                  <div class="row col-8">
                    <label class="text-danger"> {{this.constants.REQUIRED}} </label>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <ng-container *ngIf="formSignup.controls['password'].value !== formSignup.controls['password2'].value" class="form-group text-danger">
              <div class="row col-8">
                <label class="text-danger"> {{ this.constants.DIFFERENT_PASSWORDS }} </label>
              </div>
            </ng-container>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="company" name="company" formControlName="isCompany">
              <label class="form-check-label" for="company"> {{this.constants.CHECK_COMPANY}} </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="premium" name="premium" formControlName="isPremium">
              <label class="form-check-label" for="premium"> {{this.constants.CHECK_PREMIUM}} </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="terms" name="terms" formControlName="terms">
              <label class="form-check-label" for="conditions"> {{this.constants.TERMS}} </label>

              <ng-container *ngIf="(formSignup.controls['terms'].dirty || formSignup.controls['terms'].touched)">
                <ng-container *ngIf="formSignup.controls['terms'].value === false">
                  <div class="row col-8">
                    <label class="text-danger"> {{this.constants.REQUIRED}} </label>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button [disabled]="disabled()" id="accept" type="button" class="btn btn-primary" (click)="registerUser()"> {{this.constants.BUTTON_ACCEPT}} </button>
        </div>
      </div>
      <div *ngIf="signupOk">
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="thankYou"> {{this.constants.THANKYOU}} </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button [disabled]="disabled()" id="accept" type="button" class="btn btn-primary" (click)="activate()"> {{this.constants.BUTTON_RESEND}} </button>
        </div>
      </div>
    </div>
  </div>
</div>
