  <div class="row topBar">
    <div class="col clearfix">
      <div *ngIf="!authService.getToken()">
        <button type="button" class="btn btn-light float-right" data-toggle="modal" data-target="#login">
          <span class="fa fa-sign-in-alt"></span> {{constants.LOG_IN}}
        </button>
      </div>
      <div *ngIf="authService.getToken()">
        <button type="button" class="btn btn-light dropdown-toggle float-right" id="dropdown" data-toggle="dropdown">
          <span class="fa fa-user"></span>
        </button>
        <button  type="button" class="btn btn-light float-right mr-2">
          <span class="fa fa-images"></span> {{constants.NEW_ALBUM}}
        </button>

        <div class="dropdown-menu" aria-labelledby="desplegable">
          <button class="dropdown-item" (click)="authService.logout()">
            {{constants.LOG_OUT}}
          </button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal LOGIN-->
<app-login></app-login>
