<mat-card class="mt-3 mb-3">
    <mat-card-title><h2>Temática</h2></mat-card-title>
    <mat-error *ngIf="fgRef && fgRef.controls['theme'].hasError('required')">Debe seleccionar un tema</mat-error>
    <mat-card-content>
        <app-radio-tree *ngIf="!loading" [fgRef]="fgRef" [fcName]="fcName" [data]="themes"></app-radio-tree>
        <span *ngIf="loading">Loading...</span>
    </mat-card-content>
</mat-card>

<!-- FUTURE COLLAPSABLE OPTION -->
<!-- <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Temática</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <app-radio-tree *ngIf="!loading" [fgRef]="fgRef" [fcName]="fcName" [data]="themes"></app-radio-tree>
        <span *ngIf="loading">Loading...</span>
    </mat-expansion-panel>
</mat-accordion> -->