<h1 mat-dialog-title>Nuevo Album</h1>
<mat-dialog-content [formGroup]="form">
    
    <!-- ALBUM DESCRIPTION FIELDS -->
    <mat-card class="mt-3 mb-3">
        <mat-card-title><h2>Descripción</h2></mat-card-title>
        <mat-card-content>
            <div class="row">

                <!-- ALBUM TITLE INPUT -->
                <mat-form-field class="mb-3 col-sm-12"  [hintLabel]="form.controls['title'].value.length + '/' + 100"
                    appearance="fill">
                    <mat-label>Título</mat-label>
                    <input matInput formControlName="title" placeholder="Titulo del album">
                    <ng-container *ngIf="(form.controls['title'].dirty || form.controls['title'].touched)">
                        <mat-error *ngIf="form.controls['title'].hasError('minlength')"> Al menos 3 caracteres</mat-error>
                        <mat-error *ngIf="form.controls['title'].hasError('maxlength')"> 100 caracteres como máximo</mat-error>
                        <mat-error *ngIf="form.controls['title'].hasError('required')"> Requerido </mat-error>
                    </ng-container>
                </mat-form-field>

                <!-- ALBUM DESCRIPTION TEXTAREA -->
                <mat-form-field class="mb-3 col-sm-12"  [hintLabel]="form.controls['description'].value.length + '/' + 3000"
                    appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="description" placeholder="Descripción del album"></textarea>
                    <ng-container *ngIf="(form.controls['description'].dirty || form.controls['description'].touched)">
                        <mat-error *ngIf="form.controls['description'].hasError('minlength')"> Al menos 10 caracteres</mat-error>
                        <mat-error *ngIf="form.controls['description'].hasError('maxlength')"> 3000 caracteres como máximo</mat-error>
                        <mat-error *ngIf="form.controls['description'].hasError('required')"> Requerido </mat-error>
                    </ng-container>
                </mat-form-field>

                <!-- HASHTAGS CHIPS INPUT  -->
                <mat-form-field class="mb-3 col-sm-12" appearance="fill">
                    <mat-label>Etiquetas</mat-label>
                    <mat-chip-list #chipList aria-label="Album Hashtags or URLs">
                      <mat-chip
                        *ngFor="let link of links"
                        [selectable]="true"
                        [removable]="true"
                        (removed)="removeLink(link)">
                        {{link}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="Nueva etiqueta o URL..."
                        [formControl]="form.controls['links']"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addLink($event)">
                    </mat-chip-list>
                  </mat-form-field>

            </div>
        </mat-card-content>
    </mat-card>

    <!-- ALBUM THEME RADIO SELECTOR -->
    <app-theme-selector [fgRef]="form.controls.themeGroup" [fcName]="'theme'"></app-theme-selector> 
    
    <!-- ALBUM RESOURCES SELECTOR -->
    <app-file-upload formControlName="resources"></app-file-upload>

    <!-- ALBUM OFFER DETAILS -->
    <app-offer-settings [fgRef]="form.controls.offerGroup"></app-offer-settings>

    <!-- Formulario: {{ form.value | json }} -->

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button color="warn" [mat-dialog-close]>Cancelar</button>
    <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="submit()">Crear Album</button>
</mat-dialog-actions>
