.resource-preview {
    overflow: hidden;
    object-fit: cover;
    width:100%;
    height:250px;
}


/*
    PREVIEW CARD CUSTOM STYLE
*/
.resource-preview-add {

    button {
        background-color: transparent;
        border: none;
        color: #444;
        em {
            // transition: color 0.5s ease;
            -webkit-transition: color 500ms ease;
            -moz-transition: color 500ms ease;
            -o-transition: color 500ms ease;
            transition: color 500ms ease;
            color: #eee;
        }
    }

    .mat-card-title, .mat-card-actions {
        visibility: hidden;
    }
}

.resource-preview-add:hover {
    button em {
        color: #222;
    }
}