<mat-card class="mt-3 mb-3">
    <mat-card-title><h2>Archivos</h2></mat-card-title>
    <mat-error *ngIf="!resources || resources.length === 0">Debe adjuntar al menos un archivo</mat-error>
    <mat-card-content>
        <!-- FILE LIST-->
        <div class="row p-3">

            <!-- FILE UPLOADED BY USER LIST -->
            <ng-container *ngIf="resources.length > 0">
                <ng-container *ngFor="let res of resources">

                    <!-- FILE PREVIEW GENERIC CARD -->
                    <ng-container>
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <mat-card class="mb-3">
                                <mat-card-title><h4>{{res.name}}</h4></mat-card-title>
                                <mat-card-content>
                                   
                                    <!-- CARD CONTENT IF FILE IS A VIDEO -->
                                    <ng-container *ngIf="res.file.type.startsWith('video/')">
                                        <video [src]="res.fileData" class="resource-preview" controls></video>
                                    </ng-container>

                                    <!-- CARD CONTENT IF FILE IS AN IMAGE -->
                                    <ng-container *ngIf="res.file.type.startsWith('image/')">
                                        <img [src]="res.fileData" class="resource-preview" style="width: 100%">
                                    </ng-container>

                                    <!-- CARD CONTENT IF FILE IS AN AUDIO -->
                                    <ng-container *ngIf="res.file.type.startsWith('audio/')">
                                        <div style="position: relative;">
                                            <img src="https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-sound-wave-4.png"
                                            class="resource-preview" >
                                            <audio style="position: absolute; bottom: 0; left:0; width: 100%;" controls>
                                                <source [src]="sanitize(res.fileData)" type="audio/ogg"/>
                                                <source [src]="sanitize(res.fileData)" type="audio/mpeg"/>
                                                <source [src]="sanitize(res.fileData)" type="audio/mp3">
                                                <source [src]="sanitize(res.fileData)" type="audio/mpeg">
                                                <source [src]="sanitize(res.fileData)" type="audio/mp4"/>
                                                <source [src]="sanitize(res.fileData)" type="audio/wav"/>
                                                Su navegador no es compatible con <code>audio</code>
                                            </audio> 
                                        </div>
                                    </ng-container>

                                    <!-- DELETE BUTTON OVER CONTENT PREVIEW -->
                                    <!-- <div class="resource-menu-over" (click)="removeResource(res.name)" >
                                        Tamaño {{res.file.size}}
                                        Tipo {{res.file.type}}
                                        Fecha {{res.file.lastModified}}
                                    </div> -->

                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-button (click)="removeResource(res.name)" color="warn">Eliminar</button>
                                    <button mat-button [matMenuTriggerFor]="menu">Detalles</button>
                                    <mat-menu #menu="matMenu">
                                        <span mat-menu-item>Tamaño: {{res.file.size}}</span>
                                        <span mat-menu-item>Formato: {{res.file.type}}</span>
                                        <span mat-menu-item>Fecha: {{res.file.lastModified}}</span>
                                    </mat-menu>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </ng-container>
                    <!-- FILE PREVIEW GENERIC CARD CONTAINER -->
                    
                </ng-container>                
            </ng-container>
            <!-- END FILE UPLOADED BY USER LIST -->

            <!-- FIXED CARD 'FILE UPLOAD BUTTON' AT THE END -->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <mat-card class="mb-3 resource-preview-add">
                    <mat-card-title><h4>Agregar archivo</h4></mat-card-title>
                    <mat-card-content >
                        <button class="resource-preview" type="button" (click)="fileInput.click()">
                            <div class="row">
                                <div class="col-12">
                                    <!-- <mat-icon style="width: 100%; font-size: 100px;">add</mat-icon> -->
                                    <em class="fa fa-plus" style="font-size: 80px;"></em>
                                </div>
                                <div class="mt-3 col-12">
                                    <span style="font-size: 18px;">Agregar archivo</span>
                                </div>
                            </div>
                            <!-- <mat-icon style="position:absolute; top:50%; left:50%;">add</mat-icon> -->
                            <input #fileInput type="file" (change)="changeFiles($event)" style="display:none">
                        </button>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Información</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
        <!-- END FILE LIST-->

    </mat-card-content>
</mat-card>
