<div #login class="modal fade" id="login" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="loginTitle">{{this.constants.LOG_IN}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formLogin">
          <div class="form-group">
            <label for="emailUser" class="control-label"> {{this.constants.EMAIL_USER}} </label>
            <input type="text" class="form-control" id="emailUser" aria-describedby="userHelp" name="emailUser" formControlName="emailUser">

            <ng-container *ngIf="(formLogin.controls['emailUser'].dirty || formLogin.controls['emailUser'].touched)">
              <ng-container *ngIf="!formLogin.controls['emailUser'].valid">
                <div class="row col-8">
                  <label class="text-danger"> {{this.constants.REQUIRED}} </label>
                </div>
              </ng-container>
            </ng-container>

            <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target="#forgottenUser">
              <small id="userHelp" class="form-text text-primary">
                {{this.constants.FORGOTTEN_USER}}
              </small>
            </button>
          </div>
          <div class="form-group">
            <label for="password" class="control-label"> {{this.constants.PASS}} </label>
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" name="password" formControlName="password">

            <ng-container *ngIf="(formLogin.controls['password'].dirty || formLogin.controls['password'].touched)">
              <ng-container *ngIf="!formLogin.controls['password'].valid">
                <div class="row col-8">
                  <label class="text-danger"> {{this.constants.REQUIRED}} </label>
                </div>
              </ng-container>
            </ng-container>

            <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target="#forgottenPass">
              <small id="passwordHelp" class="form-text text-primary">
                {{this.constants.FORGOTTEN_PASS}}
              </small>
            </button>
          </div>
          <div class="form-check text-right">
            <input type="checkbox" class="form-check-input" id="remember">
            <label class="form-check-label" for="remember"> {{this.constants.REMEMBER_ME}} </label>
          </div>
        </form>
        <div *ngIf="authService.errorLogin">
          <label  class="text-danger"> {{this.constants.ERROR_LOGIN}} </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="reset()" data-dismiss="modal" data-toggle="modal" data-target="#checkin"> {{this.constants.CREATE_ACCOUNT}} </button>
        <button [disabled]="disabled()" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="authenticateUser()"> {{this.constants.BEGINNING}} </button>
      </div>
    </div>
  </div>
</div>

<app-checkin></app-checkin>
