<div [formGroup]="fgRef" *ngIf="data">

  <mat-radio-group [formControlName]="fcName" aria-label="Select an option">
      
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
   
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node">
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <mat-radio-button [value]="node.getItemableId()">{{node.getItemableName()}}</mat-radio-button>
        </li>
      </mat-tree-node>
      
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.getItemableName()">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            </button>
            <mat-radio-button [value]="node.getItemableId()">{{node.getItemableName()}}</mat-radio-button>
          </div>
          <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>

  </mat-radio-group>
</div>
