// /* You can add global styles to this file, and also import other style files */
// @import '/src/themes/generic.scss';
// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

// /* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

// .topBar {
//   min-height: 60px;
//   background-color: $color;
//   padding-top: 4px;
//   border-bottom-left-radius: $general-border-radius;
//   border-bottom-right-radius: $general-border-radius;
//   padding-left: $general-padding;
//   padding-right: $general-padding;
//   border-top-color: $border-color;
//   border-top-style: solid;
//   border-top-width: 1px;
//   position: relative;
//   top: 0;
//   width: 110%;
// }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
