<!-- OFFER CONDITION FIELDS -->
<mat-card [formGroup]="fgRef" class="mt-3 mb-3">
    <mat-card-title><h2>Condiciones de Venta</h2></mat-card-title>
    <mat-card-content *ngIf="fgRef">
        <div class="row">

            <!-- OFFER DESCRIPTION TEXTAREA -->
            <mat-form-field class="mb-3 col-sm-12"  [hintLabel]="fgRef.controls['comment'].value.length + '/' + 3000"
                appearance="fill">
                <mat-label>Comentario</mat-label>
                <textarea matInput fgRefControlName="comment" placeholder="Comentario sobre la oferta"></textarea>
                <ng-container *ngIf="(fgRef.controls['comment'].dirty || fgRef.controls['comment'].touched)">
                    <mat-error *ngIf="fgRef.controls['comment'].hasError('minlength')"> Al menos 10 caracteres</mat-error>
                    <mat-error *ngIf="fgRef.controls['comment'].hasError('maxlength')"> 3000 caracteres como máximo</mat-error>
                    <mat-error *ngIf="fgRef.controls['comment'].hasError('required')"> Requerido </mat-error>
                </ng-container>
            </mat-form-field>

            <!-- OFFER PRICE INPUT -->
            <mat-form-field class="mb-3 col-sm-12" appearance="fill">
                <mat-label>Precio</mat-label>
                <input matInput type="number" formControlName="price" placeholder="Precio de venta">
                <ng-container *ngIf="(fgRef.controls['price'].dirty || fgRef.controls['price'].touched)">
                    <!-- <mat-error *ngIf="fgRef.controls['price'].hasError('minlength')"> Al menos 3 caracteres</mat-error>
                    <mat-error *ngIf="form.controls['price'].hasError('maxlength')"> 100 caracteres como máximo</mat-error> -->
                    <mat-error *ngIf="fgRef.controls['price'].hasError('required')"> Requerido </mat-error>
                </ng-container>
            </mat-form-field>

            <!-- OFFER PUBLISH DATE TIME START -->
            <mat-form-field appearance="fill" class="mb-3 col-sm-12 col-md-6">
                <mat-label>Fecha de venta</mat-label>
                <input matInput [ngxMatDatetimePicker]="picker" placeholder="Fecha de venta" [formControl]="fgRef.get('dateStart')"
                    [min]="publishMinTs" [max]="null" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [touchUi]="false" disabled="false">
                </ngx-mat-datetime-picker>
            </mat-form-field>

            <!-- OFFER TYPE SELECTION -->
            <mat-form-field class="mb-3 col-sm-12 col-md-6" appearance="fill">
                <mat-label>Selecciona el tipo de venta</mat-label>
                <mat-select #offerType formControlName="type">
                  <mat-option value="0">Venta directa</mat-option>
                  <mat-option value="1">Puja</mat-option>
                </mat-select>
            </mat-form-field>



             {{fgRef.controls['dateStart'].value }}

            <!-- SPECIFIC SETTINGS DEPENDING ON OFFER TYPE (DYNAMIC TEMPLATES)-->
            <ng-container *ngIf="offerType.value !== undefined && offerType.value !== null">
                <ng-container *ngTemplateOutlet="offerType.value == 0? offerTypeDirect : offerTypeAuction"></ng-container>
            </ng-container>

        </div>
    </mat-card-content>
</mat-card>


<!-- =================================== -->
<!-- TEMPLATE - OFFER TYPE DIRECT FIELDS -->
<!-- =================================== -->
<ng-template #offerTypeDirect [formGroup]="fgRef.get('offerDirectGroup')">
    <mat-checkbox formControlName="exclusive" appearance="fill">Venta exclusiva</mat-checkbox>
</ng-template>


<!-- ==================================== -->
<!-- TEMPLATE - OFFER TYPE AUCTION FIELDS -->
<!-- ==================================== -->
<ng-template #offerTypeAuction [formGroup]="auctionGroup">
    <!-- AUCTION TYPE SELECTION -->
    <mat-form-field class="mb-3 col-sm-12 col-md-6" appearance="fill">
        <mat-label>Seleccione el tipo de puja</mat-label>
        <mat-select formControlName="up">
        <mat-option value="true">Al mayor postor</mat-option>
          <mat-option value="false">A la baja</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- AUCTION DURATION INPUT -->
    <mat-form-field class="mb-3 col-sm-12" appearance="fill">
        <mat-label>Duración (Minutos)</mat-label>
        <input matInput type="number" formControlName="minutes" placeholder="60">
        <ng-container *ngIf="(auctionGroup.controls['minutes'].dirty || auctionGroup.controls['minutes'].touched)">
            <!-- <mat-error *ngIf="form.controls['price'].hasError('minlength')"> Al menos 3 caracteres</mat-error>
            <mat-error *ngIf="form.controls['price'].hasError('maxlength')"> 100 caracteres como máximo</mat-error> -->
            <mat-error *ngIf="auctionGroup.controls['minutes'].hasError('required')"> Requerido </mat-error>
        </ng-container>
    </mat-form-field>

    <!-- AUCTION SLICE INPUT -->
    <mat-form-field class="mb-3 col-sm-12" appearance="fill">
        <mat-label>Slice qué coño es?</mat-label>
        <input matInput type="number" formControlName="slice" placeholder="1">
        <ng-container *ngIf="(auctionGroup.controls['slice'].dirty || auctionGroup.controls['slice'].touched)">
            <!-- <mat-error *ngIf="form.controls['price'].hasError('minlength')"> Al menos 3 caracteres</mat-error>
            <mat-error *ngIf="form.controls['price'].hasError('maxlength')"> 100 caracteres como máximo</mat-error> -->
            <mat-error *ngIf="auctionGroup.controls['slice'].hasError('required')"> Requerido </mat-error>
        </ng-container>
    </mat-form-field>

    <!-- AUCTION OUT PRICE INPUT -->
    <mat-form-field class="mb-3 col-sm-12" appearance="fill">
        <mat-label>Precio de salida</mat-label>
        <input matInput type="number" formControlName="priceOut" placeholder="99.99">
        <ng-container *ngIf="(auctionGroup.controls['priceOut'].dirty || auctionGroup.controls['priceOut'].touched)">
            <!-- <mat-error *ngIf="form.controls['price'].hasError('minlength')"> Al menos 3 caracteres</mat-error>
            <mat-error *ngIf="form.controls['price'].hasError('maxlength')"> 100 caracteres como máximo</mat-error> -->
            <mat-error *ngIf="auctionGroup.controls['priceOut'].hasError('required')"> Requerido </mat-error>
        </ng-container>
    </mat-form-field>

</ng-template>

